#menu a, div        { color: red; font-weight: bold; }

/* More */
#menu ul li > div, 
td, tr, 
#menu a:hover div #lol yes yes .something span.clear-fix, 
table               { text-align: center; .black; font-weight: bold; border: solid 2px #882828; cursor: default; 
                      background-repeat: no-repeat; }
a:hover             { .corner(5px); background: url(foo.png); 
  /* Superstar */
  span              { font-weight: bold; }
  span, a:hover, 
  a:active, 
  a:hover span, 
  a:active span     { text-decoration: underline; 
    strong em       { color: blue; }
  }
}

